{
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20210120",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        }
      }
    }
  },
  "description": "A data platform for customers to create, manage, share and query data.",
  "schemas": {
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        }
      }
    },
    "Entry": {
      "type": "object",
      "description": "A single entry in the confusion matrix.",
      "id": "Entry",
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "StandardSqlDataType": {
      "id": "StandardSqlDataType",
      "description": "The type of a variable, e.g., a function argument. Examples: INT64: {type_kind=\"INT64\"} ARRAY: {type_kind=\"ARRAY\", array_element_type=\"STRING\"} STRUCT\u003e: {type_kind=\"STRUCT\", struct_type={fields=[ {name=\"x\", type={type_kind=\"STRING\"}}, {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}} ]}}",
      "type": "object",
      "properties": {
        "arrayElementType": {
          "description": "The type of the array's elements, if type_kind = \"ARRAY\".",
          "$ref": "StandardSqlDataType"
        },
        "structType": {
          "$ref": "StandardSqlStructType",
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\"."
        },
        "typeKind": {
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a decimal string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used because a JSON object cannot have duplicate field names."
          ],
          "description": "Required. The top level type of this field. Can be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\").",
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "GEOGRAPHY",
            "NUMERIC",
            "BIGNUMERIC",
            "ARRAY",
            "STRUCT"
          ],
          "type": "string"
        }
      }
    },
    "ExplainQueryStep": {
      "type": "object",
      "id": "ExplainQueryStep",
      "properties": {
        "kind": {
          "description": "Machine-readable operation type.",
          "type": "string"
        },
        "substeps": {
          "description": "Human-readable stage descriptions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CsvOptions": {
      "type": "object",
      "id": "CsvOptions",
      "properties": {
        "allowQuotedNewlines": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
        },
        "allowJaggedRows": {
          "type": "boolean",
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false."
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',')."
        },
        "quote": {
          "default": "\"",
          "pattern": ".?",
          "type": "string",
          "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true."
        },
        "skipLeadingRows": {
          "type": "string",
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N \u003e 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "format": "int64"
        }
      }
    },
    "ModelReference": {
      "id": "ModelReference",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "[Required] The ID of the dataset containing this model.",
          "type": "string"
        },
        "modelId": {
          "type": "string",
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this model."
        }
      }
    },
    "GlobalExplanation": {
      "id": "GlobalExplanation",
      "type": "object",
      "description": "Global explanations containing the top most important features after training.",
      "properties": {
        "explanations": {
          "description": "A list of the top global explanations. Sorted by absolute value of attribution in descending order.",
          "items": {
            "$ref": "Explanation"
          },
          "type": "array"
        },
        "classLabel": {
          "description": "Class label for this set of global explanations. Will be empty/null for binary logistic and linear regression models. Sorted alphabetically in descending order.",
          "type": "string"
        }
      }
    },
    "ProjectList": {
      "type": "object",
      "id": "ProjectList",
      "properties": {
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of projects in the list."
        },
        "etag": {
          "description": "A hash of the page of results",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of list.",
          "default": "bigquery#projectList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "projects": {
          "description": "Projects to which you have at least READ access.",
          "type": "array",
          "items": {
            "properties": {
              "numericId": {
                "type": "string",
                "format": "uint64",
                "description": "The numeric ID of this project."
              },
              "id": {
                "description": "An opaque ID of this project.",
                "type": "string"
              },
              "friendlyName": {
                "description": "A descriptive name for this project.",
                "type": "string"
              },
              "projectReference": {
                "description": "A unique reference to this project.",
                "$ref": "ProjectReference"
              },
              "kind": {
                "type": "string",
                "description": "The resource type.",
                "default": "bigquery#project"
              }
            },
            "type": "object"
          }
        }
      }
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "description": "Options used in model training.",
      "properties": {
        "distanceType": {
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "description": "Distance type for clustering models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ]
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "timeSeriesTimestampColumn": {
          "type": "string",
          "description": "Column to be designated as time series timestamp for ARIMA model."
        },
        "labelClassWeights": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "type": "object"
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "dataSplitEvalFraction": {
          "format": "double",
          "type": "number",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2."
        },
        "timeSeriesIdColumn": {
          "description": "The id column that will be used to indicate different time series to forecast in parallel.",
          "type": "string"
        },
        "modelUri": {
          "type": "string",
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models."
        },
        "learnRateStrategy": {
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ],
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "type": "string"
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "type": "string",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ]
        },
        "maxIterations": {
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string"
        },
        "includeDrift": {
          "type": "boolean",
          "description": "Include drift when fitting an ARIMA model."
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "format": "int64",
          "type": "string"
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms.",
          "type": "boolean"
        },
        "dataFrequency": {
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "type": "string",
          "description": "The data frequency of a time series."
        },
        "optimizationStrategy": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "type": "string",
          "description": "Optimization strategy for training linear regression models."
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "minRelativeProgress": {
          "format": "double",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "type": "number"
        },
        "warmStart": {
          "type": "boolean",
          "description": "Whether to train a model from the last checkpoint."
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "format": "int64",
          "type": "string"
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "horizon": {
          "type": "string",
          "format": "int64",
          "description": "The number of periods ahead that need to be forecasted."
        },
        "walsAlpha": {
          "type": "number",
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "format": "double"
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order."
        },
        "dataSplitMethod": {
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ],
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "type": "string"
        },
        "dataSplitColumn": {
          "type": "string",
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties"
        },
        "holidayRegion": {
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ]
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "preserveInputStructs": {
          "type": "boolean",
          "description": "Whether to preserve the input structs in output feature names. Suppose there is a struct A with field b. When false (default), the output feature name is A_b. When true, the output feature name is A.b."
        },
        "maxTreeDepth": {
          "format": "int64",
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string"
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "format": "double",
          "type": "number"
        },
        "feedbackType": {
          "type": "string",
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "dropout": {
          "type": "number",
          "format": "double",
          "description": "Dropout probability for dnn models."
        },
        "lossType": {
          "description": "Type of loss function used during training run.",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "type": "string",
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "numFactors": {
          "format": "int64",
          "type": "string",
          "description": "Num factors specified for matrix factorization models."
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autoArimaMaxOrder": {
          "description": "The max value of non-seasonal p and q.",
          "format": "int64",
          "type": "string"
        },
        "initialLearnRate": {
          "type": "number",
          "format": "double",
          "description": "Specifies the initial learning rate for the line search learn rate strategy."
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "itemColumn": {
          "type": "string",
          "description": "Item column specified for matrix factorization models."
        },
        "l2Regularization": {
          "type": "number",
          "format": "double",
          "description": "L2 regularization coefficient."
        }
      },
      "type": "object"
    },
    "GetServiceAccountResponse": {
      "id": "GetServiceAccountResponse",
      "properties": {
        "kind": {
          "default": "bigquery#getServiceAccountResponse",
          "type": "string",
          "description": "The resource type of the response."
        },
        "email": {
          "type": "string",
          "description": "The service account email address."
        }
      },
      "type": "object"
    },
    "TableDataList": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "TableRow"
          },
          "description": "Rows of results."
        },
        "pageToken": {
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "bigquery#tableDataList",
          "description": "The resource type of the response."
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "totalRows": {
          "format": "int64",
          "description": "The total number of rows in the complete table.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TableDataList"
    },
    "QueryParameterType": {
      "type": "object",
      "id": "QueryParameterType",
      "properties": {
        "structTypes": {
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "[Optional] Human-oriented description of the field."
              },
              "type": {
                "description": "[Required] The type of this field.",
                "$ref": "QueryParameterType"
              },
              "name": {
                "description": "[Optional] The name of this field.",
                "type": "string"
              }
            }
          },
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct.",
          "type": "array"
        },
        "arrayType": {
          "description": "[Optional] The type of the array's elements, if this is an array.",
          "$ref": "QueryParameterType"
        },
        "type": {
          "description": "[Required] The top level type of this field.",
          "type": "string"
        }
      }
    },
    "JobStatistics": {
      "id": "JobStatistics",
      "type": "object",
      "properties": {
        "quotaDeferments": {
          "items": {
            "type": "string"
          },
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "type": "array"
        },
        "creationTime": {
          "format": "int64",
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
          "type": "string"
        },
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state."
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "totalSlotMs": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Slot-milliseconds for the job."
        },
        "rowLevelSecurityStatistics": {
          "$ref": "RowLevelSecurityStatistics",
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs."
        },
        "reservationUsage": {
          "type": "array",
          "description": "[Output-only] Job resource usage breakdown by reservation.",
          "items": {
            "properties": {
              "name": {
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage.",
                "type": "string"
              },
              "slotMs": {
                "format": "int64",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "parentJobId": {
          "description": "[Output-only] If this is a child job, the id of the parent.",
          "type": "string"
        },
        "totalBytesProcessed": {
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "type": "string",
          "format": "int64"
        },
        "scriptStatistics": {
          "description": "[Output-only] Statistics for a child job of a script.",
          "$ref": "ScriptStatistics"
        },
        "startTime": {
          "format": "int64",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
          "type": "string"
        },
        "completionRatio": {
          "format": "double",
          "type": "number",
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs."
        },
        "reservation_id": {
          "type": "string",
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
        },
        "numChildJobs": {
          "format": "int64",
          "description": "[Output-only] Number of child jobs executed.",
          "type": "string"
        },
        "load": {
          "$ref": "JobStatistics3",
          "description": "[Output-only] Statistics for a load job."
        },
        "transactionInfoTemplate": {
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one.",
          "$ref": "TransactionInfo"
        },
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "ListRoutinesResponse": {
      "id": "ListRoutinesResponse",
      "type": "object",
      "properties": {
        "routines": {
          "items": {
            "$ref": "Routine"
          },
          "type": "array",
          "description": "Routines in the requested dataset. Unless read_mask is set in the request, only the following fields are populated: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "Explanation": {
      "properties": {
        "featureName": {
          "description": "Full name of the feature. For non-numerical features, will be formatted like .. Overall size of feature name will always be truncated to first 120 characters.",
          "type": "string"
        },
        "attribution": {
          "description": "Attribution of feature.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "Explanation",
      "description": "Explanation for a single feature.",
      "type": "object"
    },
    "StandardSqlStructType": {
      "type": "object",
      "id": "StandardSqlStructType",
      "properties": {
        "fields": {
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        }
      }
    },
    "JobConfigurationExtract": {
      "id": "JobConfigurationExtract",
      "properties": {
        "sourceTable": {
          "description": "A reference to the table being exported.",
          "$ref": "TableReference"
        },
        "useAvroLogicalTypes": {
          "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models.",
          "type": "boolean"
        },
        "destinationUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written."
        },
        "compression": {
          "type": "string",
          "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models."
        },
        "destinationFormat": {
          "type": "string",
          "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
        },
        "printHeader": {
          "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models.",
          "default": "true",
          "type": "boolean"
        },
        "sourceModel": {
          "$ref": "ModelReference",
          "description": "A reference to the model being exported."
        },
        "destinationUri": {
          "type": "string",
          "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
        },
        "fieldDelimiter": {
          "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TrainingRun": {
      "type": "object",
      "id": "TrainingRun",
      "properties": {
        "dataSplitResult": {
          "description": "Data split result of the training run. Only set when the input data is actually split.",
          "$ref": "DataSplitResult"
        },
        "evaluationMetrics": {
          "description": "The evaluation metrics over training/eval data that were computed at the end of training.",
          "$ref": "EvaluationMetrics"
        },
        "trainingOptions": {
          "description": "Options that were used for this training run, includes user specified and default options that were used.",
          "$ref": "TrainingOptions"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of this training run.",
          "format": "google-datetime"
        },
        "globalExplanations": {
          "description": "Global explanations for important features of the model. For multi-class models, there is one entry for each label class. For other models, there is only one entry in the list.",
          "type": "array",
          "items": {
            "$ref": "GlobalExplanation"
          }
        },
        "results": {
          "description": "Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        }
      },
      "description": "Information about a single training query run for the model."
    },
    "CategoryCount": {
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string",
          "format": "int64"
        },
        "category": {
          "description": "The name of category.",
          "type": "string"
        }
      },
      "description": "Represents the count of a single category within the cluster.",
      "id": "CategoryCount"
    },
    "ExternalDataConfiguration": {
      "properties": {
        "csvOptions": {
          "description": "Additional properties to set if sourceFormat is set to CSV.",
          "$ref": "CsvOptions"
        },
        "connectionId": {
          "description": "[Optional, Trusted Tester] Connection for external data source.",
          "type": "string"
        },
        "sourceUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed."
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored.",
          "type": "boolean"
        },
        "sourceFormat": {
          "type": "string",
          "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\"."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats."
        },
        "googleSheetsOptions": {
          "$ref": "GoogleSheetsOptions",
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS."
        },
        "autodetect": {
          "type": "boolean",
          "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored."
        },
        "compression": {
          "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "string"
        },
        "hivePartitioningOptions": {
          "$ref": "HivePartitioningOptions",
          "description": "[Optional] Options to configure hive partitioning support."
        },
        "maxBadRecords": {
          "type": "integer",
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV, JSON, and Google Sheets. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
          "format": "int32"
        },
        "bigtableOptions": {
          "$ref": "BigtableOptions",
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE."
        }
      },
      "id": "ExternalDataConfiguration",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Routine": {
      "type": "object",
      "id": "Routine",
      "properties": {
        "definitionBody": {
          "description": "Required. The body of the routine. For functions, this is the expression in the AS clause. If language=SQL, it is the substring inside (but excluding) the parentheses. For example, for the function created with the following statement: `CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))` The definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with linebreak). If language=JAVASCRIPT, it is the evaluated string in the AS clause. For example, for the function created with the following statement: `CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'` The definition_body is `return \"\\n\";\\n` Note that both \\n are replaced with linebreaks.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "enumDescriptions": [
            "",
            "SQL language.",
            "JavaScript language."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "SQL",
            "JAVASCRIPT"
          ],
          "description": "Optional. Defaults to \"SQL\"."
        },
        "routineReference": {
          "$ref": "RoutineReference",
          "description": "Required. Reference describing the ID of this routine."
        },
        "importedLibraries": {
          "description": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the imported JAVASCRIPT libraries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. [Experimental] The description of the routine if defined.",
          "type": "string"
        },
        "arguments": {
          "description": "Optional.",
          "type": "array",
          "items": {
            "$ref": "Argument"
          }
        },
        "etag": {
          "type": "string",
          "description": "Output only. A hash of this resource.",
          "readOnly": true
        },
        "determinismLevel": {
          "description": "Optional. [Experimental] The determinism level of the JavaScript UDF if defined.",
          "enumDescriptions": [
            "The determinism of the UDF is unspecified.",
            "The UDF is deterministic, meaning that 2 function calls with the same inputs always produce the same result, even across 2 query runs.",
            "The UDF is not deterministic."
          ],
          "enum": [
            "DETERMINISM_LEVEL_UNSPECIFIED",
            "DETERMINISTIC",
            "NOT_DETERMINISTIC"
          ],
          "type": "string"
        },
        "returnType": {
          "$ref": "StandardSqlDataType",
          "description": "Optional if language = \"SQL\"; required otherwise. If absent, the return type is inferred from definition_body at query time in each query that references this routine. If present, then the evaluated result will be cast to the specified returned type at query time. For example, for the functions created with the following statements: * `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);` * `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));` * `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));` The return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and is absent for `Increment` (inferred as FLOAT64 at query time). Suppose the function `Add` is replaced by `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);` Then the inferred return type of `Increment` is automatically changed to INT64 at query time, while the return type of `Decrement` remains FLOAT64."
        },
        "lastModifiedTime": {
          "readOnly": true,
          "description": "Output only. The time when this routine was last modified, in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The time when this routine was created, in milliseconds since the epoch.",
          "readOnly": true
        },
        "routineType": {
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "enumDescriptions": [
            "",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ],
          "description": "Required. The type of routine.",
          "type": "string"
        }
      },
      "description": "A user-defined function or a stored procedure."
    },
    "JobConfigurationQuery": {
      "type": "object",
      "id": "JobConfigurationQuery",
      "properties": {
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "allowLargeResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean",
          "default": "false"
        },
        "tableDefinitions": {
          "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          }
        },
        "destinationTable": {
          "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size.",
          "$ref": "TableReference"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "useQueryCache": {
          "type": "boolean",
          "default": "true",
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true."
        },
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array",
          "description": "Query parameters for standard SQL queries."
        },
        "writeDisposition": {
          "type": "string",
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names.",
          "$ref": "DatasetReference"
        },
        "connectionProperties": {
          "items": {
            "$ref": "ConnectionProperty"
          },
          "description": "Connection properties.",
          "type": "array"
        },
        "timePartitioning": {
          "$ref": "TimePartitioning",
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "flattenResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "type": "boolean",
          "default": "true"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "schemaUpdateOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable."
        },
        "maximumBytesBilled": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default."
        },
        "useLegacySql": {
          "default": "true",
          "type": "boolean",
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false."
        },
        "clustering": {
          "$ref": "Clustering",
          "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
        },
        "maximumBillingTier": {
          "type": "integer",
          "format": "int32",
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "default": "1"
        },
        "priority": {
          "type": "string",
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE."
        },
        "rangePartitioning": {
          "$ref": "RangePartitioning",
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
        },
        "userDefinedFunctionResources": {
          "items": {
            "$ref": "UserDefinedFunctionResource"
          },
          "type": "array",
          "description": "Describes user-defined function resources used in the query."
        }
      }
    },
    "JobStatistics3": {
      "properties": {
        "outputBytes": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change."
        },
        "outputRows": {
          "format": "int64",
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change.",
          "type": "string"
        },
        "badRecords": {
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data.",
          "format": "int64",
          "type": "string"
        },
        "inputFiles": {
          "description": "[Output-only] Number of source files in a load job.",
          "format": "int64",
          "type": "string"
        },
        "inputFileBytes": {
          "format": "int64",
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "type": "string"
        }
      },
      "id": "JobStatistics3",
      "type": "object"
    },
    "RankingMetrics": {
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "type": "number",
          "format": "double",
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users."
        },
        "meanSquaredError": {
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "format": "double",
          "type": "number"
        },
        "averageRank": {
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank.",
          "type": "number",
          "format": "double"
        },
        "normalizedDiscountedCumulativeGain": {
          "type": "number",
          "format": "double",
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings."
        }
      },
      "id": "RankingMetrics",
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit."
    },
    "BigtableColumnFamily": {
      "properties": {
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
        },
        "columns": {
          "type": "array",
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          }
        },
        "familyId": {
          "type": "string",
          "description": "Identifier of the column family."
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it."
        }
      },
      "type": "object",
      "id": "BigtableColumnFamily"
    },
    "ExplainQueryStage": {
      "properties": {
        "readRatioMax": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the slowest shard spent reading input."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Unique ID for stage within plan."
        },
        "waitRatioMax": {
          "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
          "format": "double",
          "type": "number"
        },
        "computeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
          "type": "number"
        },
        "recordsWritten": {
          "description": "Number of records written by the stage.",
          "format": "int64",
          "type": "string"
        },
        "readRatioAvg": {
          "type": "number",
          "format": "double",
          "description": "Relative amount of time the average shard spent reading input."
        },
        "waitMsMax": {
          "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
          "type": "string",
          "format": "int64"
        },
        "writeRatioMax": {
          "format": "double",
          "description": "Relative amount of time the slowest shard spent on writing output.",
          "type": "number"
        },
        "startMs": {
          "format": "int64",
          "type": "string",
          "description": "Stage start time represented as milliseconds since epoch."
        },
        "shuffleOutputBytesSpilled": {
          "type": "string",
          "format": "int64",
          "description": "Total number of bytes written to shuffle and spilled to disk."
        },
        "shuffleOutputBytes": {
          "description": "Total number of bytes written to shuffle.",
          "type": "string",
          "format": "int64"
        },
        "readMsAvg": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the average shard spent reading input."
        },
        "waitMsAvg": {
          "description": "Milliseconds the average shard spent waiting to be scheduled.",
          "type": "string",
          "format": "int64"
        },
        "writeMsAvg": {
          "type": "string",
          "format": "int64",
          "description": "Milliseconds the average shard spent on writing output."
        },
        "completedParallelInputs": {
          "description": "Number of parallel input segments completed.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "Current status for the stage."
        },
        "writeMsMax": {
          "format": "int64",
          "description": "Milliseconds the slowest shard spent on writing output.",
          "type": "string"
        },
        "writeRatioAvg": {
          "format": "double",
          "description": "Relative amount of time the average shard spent on writing output.",
          "type": "number"
        },
        "inputStages": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs for stages that are inputs to this stage."
        },
        "waitRatioAvg": {
          "format": "double",
          "type": "number",
          "description": "Relative amount of time the average shard spent waiting to be scheduled."
        },
        "name": {
          "type": "string",
          "description": "Human-readable name for stage."
        },
        "computeMsAvg": {
          "description": "Milliseconds the average shard spent on CPU-bound tasks.",
          "type": "string",
          "format": "int64"
        },
        "endMs": {
          "format": "int64",
          "description": "Stage end time represented as milliseconds since epoch.",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "description": "List of operations within the stage in dependency order (approximately chronological).",
          "items": {
            "$ref": "ExplainQueryStep"
          }
        },
        "recordsRead": {
          "description": "Number of records read into the stage.",
          "type": "string",
          "format": "int64"
        },
        "parallelInputs": {
          "description": "Number of parallel input segments to be processed.",
          "type": "string",
          "format": "int64"
        },
        "slotMs": {
          "type": "string",
          "format": "int64",
          "description": "Slot-milliseconds used by the stage."
        },
        "readMsMax": {
          "type": "string",
          "description": "Milliseconds the slowest shard spent reading input.",
          "format": "int64"
        },
        "computeMsMax": {
          "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
          "type": "string",
          "format": "int64"
        },
        "computeRatioAvg": {
          "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ExplainQueryStage",
      "type": "object"
    },
    "Dataset": {
      "properties": {
        "datasetReference": {
          "$ref": "DatasetReference",
          "description": "[Required] A reference that identifies the dataset."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of the dataset."
        },
        "etag": {
          "description": "[Output-only] A hash of the resource.",
          "type": "string"
        },
        "friendlyName": {
          "type": "string",
          "description": "[Optional] A descriptive name for the dataset."
        },
        "access": {
          "items": {
            "properties": {
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "routine": {
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation.",
                "$ref": "RoutineReference"
              },
              "iamMember": {
                "type": "string",
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group."
              },
              "specialGroup": {
                "type": "string",
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
              },
              "groupByEmail": {
                "type": "string",
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
              },
              "role": {
                "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\".",
                "type": "string"
              },
              "view": {
                "$ref": "TableReference",
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation."
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "type": "array"
        },
        "defaultTableExpirationMs": {
          "type": "string",
          "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "format": "int64"
        },
        "kind": {
          "default": "bigquery#dataset",
          "type": "string",
          "description": "[Output-only] The resource type."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPZS": {
          "description": "[Output-only] Reserved for future use.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "defaultPartitionExpirationMs": {
          "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "format": "int64"
        },
        "id": {
          "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "type": "string"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
          "format": "int64"
        },
        "defaultEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "ArimaModelInfo": {
      "id": "ArimaModelInfo",
      "properties": {
        "timeSeriesId": {
          "type": "string",
          "description": "The id to indicate different time series."
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "hasDrift": {
          "type": "boolean",
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1."
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "Non-seasonal order."
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        }
      },
      "description": "Arima model information.",
      "type": "object"
    },
    "JobConfigurationTableCopy": {
      "id": "JobConfigurationTableCopy",
      "properties": {
        "destinationEncryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
        },
        "destinationExpirationTime": {
          "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed.",
          "type": "any"
        },
        "operationType": {
          "description": "[Optional] Supported operation types in table copy job.",
          "type": "string"
        },
        "sourceTables": {
          "description": "[Pick one] Source tables to copy.",
          "type": "array",
          "items": {
            "$ref": "TableReference"
          }
        },
        "sourceTable": {
          "description": "[Pick one] Source table to copy.",
          "$ref": "TableReference"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "destinationTable": {
          "description": "[Required] The destination table",
          "$ref": "TableReference"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ScriptStackFrame": {
      "properties": {
        "startLine": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only] One-based start line."
        },
        "procedureId": {
          "description": "[Output-only] Name of the active procedure, empty if in a top-level script.",
          "type": "string"
        },
        "endColumn": {
          "format": "int32",
          "description": "[Output-only] One-based end column.",
          "type": "integer"
        },
        "text": {
          "type": "string",
          "description": "[Output-only] Text of the current statement/expression."
        },
        "startColumn": {
          "format": "int32",
          "type": "integer",
          "description": "[Output-only] One-based start column."
        },
        "endLine": {
          "type": "integer",
          "format": "int32",
          "description": "[Output-only] One-based end line."
        }
      },
      "type": "object",
      "id": "ScriptStackFrame"
    },
    "JobCancelResponse": {
      "type": "object",
      "id": "JobCancelResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        },
        "kind": {
          "description": "The resource type of the response.",
          "default": "bigquery#jobCancelResponse",
          "type": "string"
        }
      }
    },
    "TableSchema": {
      "id": "TableSchema",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "Describes the fields in a table.",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      }
    },
    "Streamingbuffer": {
      "properties": {
        "estimatedRows": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer."
        },
        "estimatedBytes": {
          "format": "uint64",
          "type": "string",
          "description": "[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer."
        },
        "oldestEntryTime": {
          "description": "[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "Streamingbuffer",
      "type": "object"
    },
    "RangePartitioning": {
      "properties": {
        "range": {
          "properties": {
            "end": {
              "format": "int64",
              "description": "[TrustedTester] [Required] The end of range partitioning, exclusive.",
              "type": "string"
            },
            "interval": {
              "description": "[TrustedTester] [Required] The width of each interval.",
              "type": "string",
              "format": "int64"
            },
            "start": {
              "description": "[TrustedTester] [Required] The start of range partitioning, inclusive.",
              "type": "string",
              "format": "int64"
            }
          },
          "description": "[TrustedTester] [Required] Defines the ranges for range partitioning.",
          "type": "object"
        },
        "field": {
          "type": "string",
          "description": "[TrustedTester] [Required] The table is partitioned by this field. The field must be a top-level NULLABLE/REQUIRED field. The only supported type is INTEGER/INT64."
        }
      },
      "id": "RangePartitioning",
      "type": "object"
    },
    "Job": {
      "properties": {
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#job",
          "description": "[Output-only] The type of the resource.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "configuration": {
          "$ref": "JobConfiguration",
          "description": "[Required] Describes the job configuration."
        },
        "user_email": {
          "type": "string",
          "description": "[Output-only] Email address of the user who ran the job."
        },
        "status": {
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
          "$ref": "JobStatus"
        },
        "statistics": {
          "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
          "$ref": "JobStatistics"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        }
      },
      "type": "object",
      "id": "Job"
    },
    "MaterializedViewDefinition": {
      "properties": {
        "query": {
          "type": "string",
          "description": "[Required] A query whose result is persisted."
        },
        "lastRefreshTime": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] [TrustedTester] The time when this materialized view was last modified, in milliseconds since the epoch."
        },
        "enableRefresh": {
          "type": "boolean",
          "description": "[Optional] [TrustedTester] Enable automatic refresh of the materialized view when the base table is updated. The default value is \"true\"."
        },
        "refreshIntervalMs": {
          "format": "int64",
          "type": "string",
          "description": "[Optional] [TrustedTester] The maximum frequency at which this materialized view will be refreshed. The default value is \"1800000\" (30 minutes)."
        }
      },
      "type": "object",
      "id": "MaterializedViewDefinition"
    },
    "ProjectReference": {
      "properties": {
        "projectId": {
          "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.",
          "type": "string"
        }
      },
      "id": "ProjectReference",
      "type": "object"
    },
    "ConnectionProperty": {
      "type": "object",
      "id": "ConnectionProperty",
      "properties": {
        "value": {
          "description": "[Required] Value of the connection property.",
          "type": "string"
        },
        "key": {
          "description": "[Required] Name of the connection property to set.",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      }
    },
    "RoutineReference": {
      "properties": {
        "routineId": {
          "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this routine."
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this routine.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RoutineReference"
    },
    "EncryptionConfiguration": {
      "id": "EncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "[Optional] Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      }
    },
    "DatasetList": {
      "type": "object",
      "id": "DatasetList",
      "properties": {
        "kind": {
          "description": "The list type. This property always returns the value \"bigquery#datasetList\".",
          "default": "bigquery#datasetList",
          "type": "string"
        },
        "etag": {
          "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
          "type": "string"
        },
        "datasets": {
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
          "items": {
            "properties": {
              "datasetReference": {
                "$ref": "DatasetReference",
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "labels": {
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "location": {
                "type": "string",
                "description": "The geographic location where the data resides."
              },
              "kind": {
                "type": "string",
                "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
                "default": "bigquery#dataset"
              },
              "friendlyName": {
                "type": "string",
                "description": "A descriptive name for the dataset, if one exists."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
          "type": "string"
        }
      }
    },
    "QueryParameterValue": {
      "properties": {
        "arrayValues": {
          "description": "[Optional] The array values, if this is an array type.",
          "items": {
            "$ref": "QueryParameterValue"
          },
          "type": "array"
        },
        "value": {
          "type": "string",
          "description": "[Optional] The value of this value, if a simple scalar type."
        },
        "structValues": {
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "QueryParameterValue"
    },
    "QueryRequest": {
      "type": "object",
      "id": "QueryRequest",
      "properties": {
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "parameterMode": {
          "type": "string",
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'.",
          "$ref": "DatasetReference"
        },
        "query": {
          "type": "string",
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          }
        },
        "maxResults": {
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "format": "uint32",
          "type": "integer"
        },
        "maximumBytesBilled": {
          "type": "string",
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64"
        },
        "kind": {
          "default": "bigquery#queryRequest",
          "type": "string",
          "description": "The resource type of the request."
        },
        "location": {
          "type": "string",
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "timeoutMs": {
          "type": "integer",
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32"
        },
        "queryParameters": {
          "items": {
            "$ref": "QueryParameter"
          },
          "type": "array",
          "description": "Query parameters for Standard SQL queries."
        },
        "dryRun": {
          "type": "boolean",
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false."
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "type": "boolean",
          "default": "true"
        },
        "connectionProperties": {
          "type": "array",
          "description": "Connection properties.",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "requestId": {
          "type": "string",
[...]
