{
  "id": "bigquery:v2",
  "name": "bigquery",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch/bigquery/v2",
  "version": "v2",
  "title": "BigQuery API",
  "ownerDomain": "google.com",
  "revision": "20230805",
  "schemas": {
    "Entry": {
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold \u003e 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of items being predicted as this label."
        }
      },
      "description": "A single entry in the confusion matrix.",
      "type": "object",
      "id": "Entry"
    },
    "GlobalExplanation": {
      "properties": {
        "classLabel": {
          "description": "Class label for this set of global explanations. Will be empty/null for binary logistic and linear regression models. Sorted alphabetically in descending order.",
          "type": "string"
        },
        "explanations": {
          "type": "array",
          "items": {
            "$ref": "Explanation"
          },
          "description": "A list of the top global explanations. Sorted by absolute value of attribution in descending order."
        }
      },
      "description": "Global explanations containing the top most important features after training.",
      "type": "object",
      "id": "GlobalExplanation"
    },
    "ArimaResult": {
      "properties": {
        "seasonalPeriods": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          },
          "type": "array",
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series."
        },
        "arimaModelInfo": {
          "items": {
            "$ref": "ArimaModelInfo"
          },
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array"
        }
      },
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "type": "object"
    },
    "ArimaFittingMetrics": {
      "description": "ARIMA model fitting metrics.",
      "properties": {
        "logLikelihood": {
          "format": "double",
          "description": "Log-likelihood.",
          "type": "number"
        },
        "aic": {
          "description": "AIC.",
          "format": "double",
          "type": "number"
        },
        "variance": {
          "type": "number",
          "format": "double",
          "description": "Variance."
        }
      },
      "type": "object",
      "id": "ArimaFittingMetrics"
    },
    "MlStatistics": {
      "type": "object",
      "properties": {
        "maxIterations": {
          "format": "int64",
          "description": "Maximum number of iterations specified as max_iterations in the 'CREATE MODEL' query. The actual number of iterations may be less than this number due to early stop.",
          "type": "string"
        },
        "iterationResults": {
          "description": "Results for all completed iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        }
      },
      "id": "MlStatistics"
    },
    "DatasetReference": {
      "properties": {
        "projectId": {
          "description": "[Optional] The ID of the project containing this dataset.",
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "type": "string"
        },
        "datasetId": {
          "description": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.datasets.update"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatasetReference"
    },
    "QueryParameterType": {
      "type": "object",
      "properties": {
        "type": {
          "description": "[Required] The top level type of this field.",
          "type": "string"
        },
        "structTypes": {
          "description": "[Optional] The types of the fields of this struct, in order, if this is a struct.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "description": "[Optional] Human-oriented description of the field.",
                "type": "string"
              },
              "type": {
                "description": "[Required] The type of this field.",
                "$ref": "QueryParameterType"
              },
              "name": {
                "description": "[Optional] The name of this field.",
                "type": "string"
              }
            }
          }
        },
        "arrayType": {
          "description": "[Optional] The type of the array's elements, if this is an array.",
          "$ref": "QueryParameterType"
        }
      },
      "id": "QueryParameterType"
    },
    "BigtableOptions": {
      "properties": {
        "columnFamilies": {
          "type": "array",
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "items": {
            "$ref": "BigtableColumnFamily"
          }
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        },
        "ignoreUnspecifiedColumnFamilies": {
          "type": "boolean",
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false."
        }
      },
      "id": "BigtableOptions",
      "type": "object"
    },
    "AvroOptions": {
      "type": "object",
      "id": "AvroOptions",
      "properties": {
        "useAvroLogicalTypes": {
          "type": "boolean",
          "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER)."
        }
      }
    },
    "SparkLoggingInfo": {
      "properties": {
        "resource_type": {
          "type": "string",
          "description": "[Output-only] Resource type used for logging"
        },
        "project_id": {
          "type": "string",
          "description": "[Output-only] Project ID used for logging"
        }
      },
      "id": "SparkLoggingInfo",
      "type": "object"
    },
    "ExplainQueryStep": {
      "properties": {
        "substeps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Human-readable stage descriptions."
        },
        "kind": {
          "type": "string",
          "description": "Machine-readable operation type."
        }
      },
      "id": "ExplainQueryStep",
      "type": "object"
    },
    "RemoteFunctionOptions": {
      "properties": {
        "maxBatchingRows": {
          "description": "Max number of rows in each batch sent to the remote service. If absent or if 0, BigQuery dynamically decides the number of rows in a batch.",
          "type": "string",
          "format": "int64"
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the user-provided remote service, e.g. ```https://us-east1-my_gcf_project.cloudfunctions.net/remote_add```"
        },
        "userDefinedContext": {
          "description": "User-defined context as a set of key/value pairs, which will be sent as function invocation context together with batched arguments in the requests to the remote service. The total number of bytes of keys and values must be less than 8KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connection": {
          "description": "Fully qualified name of the user-provided connection object which holds the authentication information to send requests to the remote service. Format: ```\"projects/{projectId}/locations/{locationId}/connections/{connectionId}\"```",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Options for a remote user-defined function.",
      "id": "RemoteFunctionOptions"
    },
    "TableRow": {
      "type": "object",
      "properties": {
        "f": {
          "type": "array",
          "items": {
            "$ref": "TableCell"
          },
          "description": "Represents a single row in the result set, consisting of one or more fields."
        }
      },
      "id": "TableRow"
    },
    "TrainingOptions": {
      "type": "object",
      "description": "Options used in model training.",
      "id": "TrainingOptions",
      "properties": {
        "initialLearnRate": {
          "description": "Specifies the initial learning rate for the line search learn rate strategy.",
          "type": "number",
          "format": "double"
        },
        "minSplitLoss": {
          "type": "number",
          "description": "Minimum split loss for boosted tree models.",
          "format": "double"
        },
        "treeMethod": {
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ],
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ],
          "type": "string",
          "description": "Tree construction algorithm for boosted tree models."
        },
        "timeSeriesLengthFraction": {
          "description": "The fraction of the interpolated length of the time series that's used to model the time series trend component. All of the time points of the time series are used to model the non-trend component. This training option accelerates modeling training without sacrificing much forecasting accuracy. You can use this option with `minTimeSeriesLength` but not with `maxTimeSeriesLength`.",
          "type": "number",
          "format": "double"
        },
        "userColumn": {
          "type": "string",
          "description": "User column specified for matrix factorization models."
        },
        "timeSeriesIdColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time series id columns that were used during ARIMA model training."
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "format": "double",
          "type": "number"
        },
        "colsampleBynode": {
          "type": "number",
          "description": "Subsample ratio of columns for each node(split) for boosted tree models.",
          "format": "double"
        },
        "decomposeTimeSeries": {
          "description": "If true, perform decompose time series and save the results.",
          "type": "boolean"
        },
        "xgboostVersion": {
          "description": "User-selected XGBoost versions for training of XGBoost models.",
          "type": "string"
        },
        "pcaExplainedVarianceRatio": {
          "format": "double",
          "description": "The minimum ratio of cumulative explained variance that needs to be given by the PCA model.",
          "type": "number"
        },
        "holidayRegion": {
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ],
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "type": "string",
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled."
        },
        "numPrincipalComponents": {
          "format": "int64",
          "type": "string",
          "description": "Number of principal components to keep in the PCA model. Must be \u003c= the number of features."
        },
        "numParallelTree": {
          "format": "int64",
          "description": "Number of parallel trees constructed during each iteration for boosted tree models.",
          "type": "string"
        },
        "categoryEncodingMethod": {
          "description": "Categorical feature encoding method.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified encoding method.",
            "Applies one-hot encoding.",
            "Applies label encoding.",
            "Applies dummy encoding."
          ],
          "enum": [
            "ENCODING_METHOD_UNSPECIFIED",
            "ONE_HOT_ENCODING",
            "LABEL_ENCODING",
            "DUMMY_ENCODING"
          ]
        },
        "activationFn": {
          "type": "string",
          "description": "Activation function of the neural nets."
        },
        "modelUri": {
          "type": "string",
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models."
        },
        "maxTimeSeriesLength": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of time points in a time series that can be used in modeling the trend component of the time series. Don't use this option with the `timeSeriesLengthFraction` or `minTimeSeriesLength` options."
        },
        "kmeansInitializationMethod": {
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ],
          "type": "string",
          "description": "The method used to initialize the centroids for kmeans algorithm."
        },
        "colsampleBylevel": {
          "type": "number",
          "description": "Subsample ratio of columns for each level for boosted tree models.",
          "format": "double"
        },
        "sampledShapleyNumPaths": {
          "description": "Number of paths for the sampled Shapley explain method.",
          "format": "int64",
          "type": "string"
        },
        "includeDrift": {
          "type": "boolean",
          "description": "Include drift when fitting an ARIMA model."
        },
        "numTrials": {
          "format": "int64",
          "type": "string",
          "description": "Number of trials to run this hyperparameter tuning job."
        },
        "boosterType": {
          "type": "string",
          "description": "Booster type for boosted tree models.",
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ],
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ]
        },
        "autoArimaMaxOrder": {
          "type": "string",
          "description": "The max value of the sum of non-seasonal p and q.",
          "format": "int64"
        },
        "colsampleBytree": {
          "type": "number",
          "format": "double",
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models."
        },
        "dartNormalizeType": {
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ],
          "type": "string",
          "description": "Type of normalization algorithm for boosted tree models using dart booster."
        },
        "itemColumn": {
          "description": "Item column specified for matrix factorization models.",
          "type": "string"
        },
        "approxGlobalFeatureContrib": {
          "description": "Whether to use approximate feature contribution method in XGBoost model explanation for global explain.",
          "type": "boolean"
        },
        "instanceWeightColumn": {
          "type": "string",
          "description": "Name of the instance weight column for training data. This column isn't be used as a feature."
        },
        "warmStart": {
          "type": "boolean",
          "description": "Whether to train a model from the last checkpoint."
        },
        "budgetHours": {
          "format": "double",
          "type": "number",
          "description": "Budget in hours for AutoML training."
        },
        "autoArimaMinOrder": {
          "type": "string",
          "description": "The min value of the sum of non-seasonal p and q.",
          "format": "int64"
        },
        "lossType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "description": "Type of loss function used during training run.",
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "labelClassWeights": {
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        },
        "horizon": {
          "description": "The number of periods ahead that need to be forecasted.",
          "format": "int64",
          "type": "string"
        },
        "calculatePValues": {
          "description": "Whether or not p-value test should be computed for this model. Only available for linear and logistic regression models.",
          "type": "boolean"
        },
        "scaleFeatures": {
          "description": "If true, scale the feature values by dividing the feature standard deviation. Currently only apply to PCA.",
          "type": "boolean"
        },
        "minTimeSeriesLength": {
          "description": "The minimum number of time points in a time series that are used in modeling the trend component of the time series. If you use this option you must also set the `timeSeriesLengthFraction` option. This training option ensures that enough time points are available when you use `timeSeriesLengthFraction` in trend modeling. This is particularly important when forecasting multiple time series in a single query using `timeSeriesIdColumn`. If the total number of time points is less than the `minTimeSeriesLength` value, then the query uses all available time points.",
          "format": "int64",
          "type": "string"
        },
        "maxIterations": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms."
        },
        "subsample": {
          "format": "double",
          "type": "number",
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models."
        },
        "minTreeChildWeight": {
          "description": "Minimum sum of instance weight needed in a child for boosted tree models.",
          "format": "int64",
          "type": "string"
        },
        "hparamTuningObjectives": {
          "items": {
            "enum": [
              "HPARAM_TUNING_OBJECTIVE_UNSPECIFIED",
              "MEAN_ABSOLUTE_ERROR",
              "MEAN_SQUARED_ERROR",
              "MEAN_SQUARED_LOG_ERROR",
              "MEDIAN_ABSOLUTE_ERROR",
              "R_SQUARED",
              "EXPLAINED_VARIANCE",
              "PRECISION",
              "RECALL",
              "ACCURACY",
              "F1_SCORE",
              "LOG_LOSS",
              "ROC_AUC",
              "DAVIES_BOULDIN_INDEX",
              "MEAN_AVERAGE_PRECISION",
              "NORMALIZED_DISCOUNTED_CUMULATIVE_GAIN",
              "AVERAGE_RANK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified evaluation metric.",
              "Mean absolute error. mean_absolute_error = AVG(ABS(label - predicted))",
              "Mean squared error. mean_squared_error = AVG(POW(label - predicted, 2))",
              "Mean squared log error. mean_squared_log_error = AVG(POW(LN(1 + label) - LN(1 + predicted), 2))",
              "Mean absolute error. median_absolute_error = APPROX_QUANTILES(absolute_error, 2)[OFFSET(1)]",
              "R^2 score. This corresponds to r2_score in ML.EVALUATE. r_squared = 1 - SUM(squared_error)/(COUNT(label)*VAR_POP(label))",
              "Explained variance. explained_variance = 1 - VAR_POP(label_error)/VAR_POP(label)",
              "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
              "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
              "Accuracy is the fraction of predictions given the correct label. For multiclass this is a globally micro-averaged metric.",
              "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
              "Logorithmic Loss. For multiclass this is a macro-averaged metric.",
              "Area Under an ROC Curve. For multiclass this is a macro-averaged metric.",
              "Davies-Bouldin Index.",
              "Mean Average Precision.",
              "Normalized Discounted Cumulative Gain.",
              "Average Rank."
            ]
          },
          "type": "array",
          "description": "The target evaluation metrics to optimize the hyperparameters for."
        },
        "autoClassWeights": {
          "description": "Whether to calculate class weights automatically based on the popularity of each label.",
          "type": "boolean"
        },
        "dataSplitColumn": {
          "type": "string",
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#data-type-properties"
        },
        "pcaSolver": {
          "enum": [
            "UNSPECIFIED",
            "FULL",
            "RANDOMIZED",
            "AUTO"
          ],
          "enumDescriptions": [
            "",
            "Full eigen-decoposition.",
            "Randomized SVD.",
            "Auto."
          ],
          "description": "The solver for PCA.",
          "type": "string"
        },
        "minRelativeProgress": {
          "format": "double",
          "type": "number",
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms."
        },
        "optimizer": {
          "type": "string",
          "description": "Optimizer used for training the neural nets."
        },
        "timeSeriesDataColumn": {
          "type": "string",
          "description": "Column to be designated as time series data for ARIMA model."
        },
        "nonSeasonalOrder": {
          "$ref": "ArimaOrder",
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order."
        },
        "distanceType": {
          "type": "string",
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ],
          "description": "Distance type for clustering models.",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ]
        },
        "walsAlpha": {
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "type": "number",
          "format": "double"
        },
        "vertexAiModelVersionAliases": {
          "description": "The version aliases to apply in Vertex AI model registry. Always overwrite if the version aliases exists in a existing model.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxParallelTrials": {
          "description": "Maximum number of trials to run in parallel.",
          "format": "int64",
          "type": "string"
        },
        "standardizeFeatures": {
          "description": "Whether to standardize numerical features. Default to true.",
          "type": "boolean"
        },
        "dataFrequency": {
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "description": "The data frequency of a time series."
        },
        "l2Regularization": {
          "format": "double",
          "type": "number",
          "description": "L2 regularization coefficient."
        },
        "inputLabelColumns": {
          "type": "array",
          "description": "Name of input label columns in training data.",
          "items": {
            "type": "string"
          }
        },
        "numFactors": {
          "description": "Num factors specified for matrix factorization models.",
          "format": "int64",
          "type": "string"
        },
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "enableGlobalExplain": {
          "type": "boolean",
          "description": "If true, enable global explanation during training."
        },
        "holidayRegions": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Holiday region unspecified.",
              "Global.",
              "North America.",
              "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
              "Europe, the Middle East and Africa.",
              "Latin America and the Caribbean.",
              "United Arab Emirates",
              "Argentina",
              "Austria",
              "Australia",
              "Belgium",
              "Brazil",
              "Canada",
              "Switzerland",
              "Chile",
              "China",
              "Colombia",
              "Czechoslovakia",
              "Czech Republic",
              "Germany",
              "Denmark",
              "Algeria",
              "Ecuador",
              "Estonia",
              "Egypt",
              "Spain",
              "Finland",
              "France",
              "Great Britain (United Kingdom)",
              "Greece",
              "Hong Kong",
              "Hungary",
              "Indonesia",
              "Ireland",
              "Israel",
              "India",
              "Iran",
              "Italy",
              "Japan",
              "Korea (South)",
              "Latvia",
              "Morocco",
              "Mexico",
              "Malaysia",
              "Nigeria",
              "Netherlands",
              "Norway",
              "New Zealand",
              "Peru",
              "Philippines",
              "Pakistan",
              "Poland",
              "Portugal",
              "Romania",
              "Serbia",
              "Russian Federation",
              "Saudi Arabia",
              "Sweden",
              "Singapore",
              "Slovenia",
              "Slovakia",
              "Thailand",
              "Turkey",
              "Taiwan",
              "Ukraine",
              "United States",
              "Venezuela",
              "Viet Nam",
              "South Africa"
            ],
            "enum": [
              "HOLIDAY_REGION_UNSPECIFIED",
              "GLOBAL",
              "NA",
              "JAPAC",
              "EMEA",
              "LAC",
              "AE",
              "AR",
              "AT",
              "AU",
              "BE",
              "BR",
              "CA",
              "CH",
              "CL",
              "CN",
              "CO",
              "CS",
              "CZ",
              "DE",
              "DK",
              "DZ",
              "EC",
              "EE",
              "EG",
              "ES",
              "FI",
              "FR",
              "GB",
              "GR",
              "HK",
              "HU",
              "ID",
              "IE",
              "IL",
              "IN",
              "IR",
              "IT",
              "JP",
              "KR",
              "LV",
              "MA",
              "MX",
              "MY",
              "NG",
              "NL",
              "NO",
              "NZ",
              "PE",
              "PH",
              "PK",
              "PL",
              "PT",
              "RO",
              "RS",
              "RU",
              "SA",
              "SE",
              "SG",
              "SI",
              "SK",
              "TH",
              "TR",
              "TW",
              "UA",
              "US",
              "VE",
              "VN",
              "ZA"
            ]
          },
          "description": "A list of geographical regions that are used for time series modeling."
        },
        "optimizationStrategy": {
          "description": "Optimization strategy for training linear regression models.",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ],
          "type": "string"
        },
        "timeSeriesTimestampColumn": {
          "type": "string",
          "description": "Column to be designated as time series timestamp for ARIMA model."
        },
        "autoArima": {
          "type": "boolean",
          "description": "Whether to enable auto ARIMA or not."
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "format": "int64",
          "type": "string"
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "format": "double",
          "type": "number"
        },
        "learnRateStrategy": {
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ],
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "type": "string"
        },
        "modelRegistry": {
          "enum": [
            "MODEL_REGISTRY_UNSPECIFIED",
            "VERTEX_AI"
          ],
          "description": "The model registry.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Vertex AI."
          ]
        },
        "earlyStop": {
          "type": "boolean",
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms."
        },
        "dataSplitEvalFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2."
        },
        "feedbackType": {
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "type": "string",
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "trendSmoothingWindowSize": {
          "type": "string",
          "format": "int64",
          "description": "Smoothing window size for the trend component. When a positive value is specified, a center moving average smoothing is applied on the history trend. When the smoothing window is out of the boundary at the beginning or the end of the trend, the first element or the last element is padded to fill the smoothing window before the average is applied."
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "format": "double",
          "type": "number"
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "maxTreeDepth": {
          "format": "int64",
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string"
        },
        "colorSpace": {
          "description": "Enums for color space, used for processing images in Object Table. See more details at https://www.tensorflow.org/io/tutorials/colorspace.",
          "enumDescriptions": [
            "Unspecified color space",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "type": "string"
        },
        "cleanSpikesAndDips": {
          "description": "If true, clean spikes and dips in the input time series.",
          "type": "boolean"
        },
        "integratedGradientsNumSteps": {
          "description": "Number of integral steps for the integrated gradients explain method.",
          "type": "string",
          "format": "int64"
        },
        "tfVersion": {
          "type": "string",
          "description": "Based on the selected TF version, the corresponding docker image is used to train external models."
        },
        "l1RegActivation": {
          "type": "number",
          "description": "L1 regularization coefficient to activations.",
          "format": "double"
        },
        "adjustStepChanges": {
          "type": "boolean",
          "description": "If true, detect step changes and make data adjustment in the input time series."
        },
        "dataSplitMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ],
          "description": "The data split type for training and evaluation, e.g. RANDOM."
        },
        "fitIntercept": {
          "type": "boolean",
          "description": "Whether the model should include intercept during model training."
        },
        "hiddenUnits": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Hidden units for dnn models."
        },
        "numClusters": {
          "format": "int64",
          "type": "string",
          "description": "Number of clusters for clustering models."
        }
      }
    },
    "IntHparamSearchSpace": {
      "type": "object",
      "id": "IntHparamSearchSpace",
      "description": "Search space for an int hyperparameter.",
      "properties": {
        "candidates": {
          "$ref": "IntCandidates",
          "description": "Candidates of the int hyperparameter."
        },
        "range": {
          "description": "Range of the int hyperparameter.",
          "$ref": "IntRange"
        }
      }
    },
    "MultiClassClassificationMetrics": {
      "id": "MultiClassClassificationMetrics",
      "properties": {
        "confusionMatrixList": {
          "items": {
            "$ref": "ConfusionMatrix"
          },
          "type": "array",
          "description": "Confusion matrix at different thresholds."
        },
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        }
      },
      "type": "object",
      "description": "Evaluation metrics for multi-class classification/classifier models."
    },
    "ArimaSingleModelForecastingMetrics": {
      "properties": {
        "hasSpikesAndDips": {
          "description": "If true, spikes_and_dips is a part of time series decomposition result.",
          "type": "boolean"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "timeSeriesIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns."
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "hasStepChanges": {
          "description": "If true, step_changes is a part of time series decomposition result.",
          "type": "boolean"
        },
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "timeSeriesId": {
          "type": "string",
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used."
        },
        "hasDrift": {
          "type": "boolean",
          "description": "Is arima model fitted with drift or not. It is always false when d is not 1."
        },
        "hasHolidayEffect": {
          "type": "boolean",
          "description": "If true, holiday_effect is a part of time series decomposition result."
        }
      },
      "description": "Model evaluation metrics for a single ARIMA forecasting model.",
      "id": "ArimaSingleModelForecastingMetrics",
      "type": "object"
    },
    "TrainingRun": {
      "type": "object",
      "description": "Information about a single training query run for the model.",
      "properties": {
        "trainingOptions": {
          "readOnly": true,
          "description": "Output only. Options that were used for this training run, includes user specified and default options that were used.",
          "$ref": "TrainingOptions"
        },
        "dataSplitResult": {
          "$ref": "DataSplitResult",
          "readOnly": true,
          "description": "Output only. Data split result of the training run. Only set when the input data is actually split."
        },
        "vertexAiModelId": {
          "type": "string",
          "description": "The model id in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of this training run.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "modelLevelGlobalExplanation": {
          "description": "Output only. Global explanation contains the explanation of top features on the model level. Applies to both regression and classification models.",
          "$ref": "GlobalExplanation",
          "readOnly": true
        },
        "vertexAiModelVersion": {
          "description": "Output only. The model version in the [Vertex AI Model Registry](https://cloud.google.com/vertex-ai/docs/model-registry/introduction) for this training run.",
          "readOnly": true,
          "type": "string"
        },
        "classLevelGlobalExplanations": {
          "type": "array",
          "description": "Output only. Global explanation contains the explanation of top features on the class level. Applies to classification models only.",
          "readOnly": true,
          "items": {
            "$ref": "GlobalExplanation"
          }
        },
        "evaluationMetrics": {
          "$ref": "EvaluationMetrics",
          "description": "Output only. The evaluation metrics over training/eval data that were computed at the end of training.",
          "readOnly": true
        },
        "trainingStartTime": {
          "description": "Output only. The start time of this training run, in milliseconds since epoch.",
          "deprecated": true,
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "results": {
          "items": {
            "$ref": "IterationResult"
          },
          "readOnly": true,
          "description": "Output only. Output of each iteration run, results.size() \u003c= max_iterations.",
          "type": "array"
        }
      },
      "id": "TrainingRun"
    },
    "IntArrayHparamSearchSpace": {
      "properties": {
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "IntArray"
          },
          "description": "Candidates for the int array parameter."
        }
      },
      "type": "object",
      "description": "Search space for int array.",
      "id": "IntArrayHparamSearchSpace"
    },
    "JobReference": {
      "type": "object",
      "id": "JobReference",
      "properties": {
        "location": {
          "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
          "type": "string"
        },
        "projectId": {
          "description": "[Required] The ID of the project containing this job.",
          "type": "string",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          }
        },
        "jobId": {
          "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
          "annotations": {
            "required": [
              "bigquery.jobs.getQueryResults"
            ]
          },
          "type": "string"
        }
      }
    },
    "JsonObject": {
      "type": "object",
      "description": "Represents a single JSON object.",
      "additionalProperties": {
        "$ref": "JsonValue"
      },
      "id": "JsonObject"
    },
    "RowAccessPolicyReference": {
      "type": "object",
      "id": "RowAccessPolicyReference",
      "properties": {
        "datasetId": {
          "description": "Required. The ID of the dataset containing this row access policy.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The ID of the table containing this row access policy.",
          "type": "string"
        },
        "policyId": {
          "description": "Required. The ID of the row access policy. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The ID of the project containing this row access policy.",
          "type": "string"
        }
      }
    },
    "BiEngineReason": {
      "properties": {
        "message": {
          "default": "",
          "description": "[Output-only] Free form human-readable reason for partial or disabled acceleration.",
          "type": "string"
        },
        "code": {
          "default": "",
          "type": "string",
          "description": "[Output-only] High-level BI Engine reason for partial or disabled acceleration."
        }
      },
      "type": "object",
      "id": "BiEngineReason"
    },
    "IndexUnusedReason": {
      "properties": {
        "indexName": {
          "default": "$(reason.index_name)",
          "description": "[Output-only] Specifies the name of the unused search index, if available.",
          "type": "string"
        },
        "message": {
          "default": "$(reason.message)",
          "type": "string",
          "description": "[Output-only] Free form human-readable reason for the scenario when no search index was used."
        },
        "code": {
          "type": "string",
          "default": "$(reason.code)",
          "description": "[Output-only] Specifies the high-level reason for the scenario when no search index was used."
        },
        "baseTable": {
          "description": "[Output-only] Specifies the base table involved in the reason that no search index was used.",
          "$ref": "TableReference"
        }
      },
      "type": "object",
      "id": "IndexUnusedReason"
    },
    "ArimaOrder": {
      "properties": {
        "d": {
          "type": "string",
          "description": "Order of the differencing part.",
          "format": "int64"
        },
        "q": {
          "format": "int64",
          "type": "string",
          "description": "Order of the moving-average part."
        },
        "p": {
          "description": "Order of the autoregressive part.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ArimaOrder",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts."
    },
    "Table": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. SNAPSHOT: An immutable, read-only table that is a copy of another table. [TrustedTester] MATERIALIZED_VIEW: SQL query whose result is persisted. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "clustering": {
          "description": "[Beta] Clustering specification for the table. Must be specified with partitioning, data in the table will be first partitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "location": {
          "description": "[Output-only] The geographic location where the table resides. This value is inherited from the dataset.",
          "type": "string"
        },
        "maxStaleness": {
          "type": "string",
          "format": "byte",
          "description": "[Optional] Max staleness of data that could be returned when table or materialized view is queried (formatted as Google SQL Interval type)."
        },
        "cloneDefinition": {
          "description": "[Output-only] Clone definition.",
          "$ref": "CloneDefinition"
        },
        "numLongTermLogicalBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of logical bytes that are more than 90 days old."
        },
        "numActiveLogicalBytes": {
          "description": "[Output-only] Number of logical bytes that are less than 90 days old.",
          "format": "int64",
          "type": "string"
        },
        "tableConstraints": {
          "$ref": "TableConstraints",
          "description": "[Optional] The table constraints on the table."
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The time when this table was created, in milliseconds since the epoch."
        },
        "etag": {
          "description": "[Output-only] A hash of the table metadata. Used to ensure there were no concurrent modifications to the resource when attempting an update. Not guaranteed to change when the table contents or the fields numRows, numBytes, numLongTermBytes or lastModifiedTime change.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "int64",
          "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created tables."
        },
        "numPhysicalBytes": {
          "type": "string",
          "description": "[Output-only] [TrustedTester] The physical size of this table in bytes, excluding any data in the streaming buffer. This includes compression and storage used for time travel.",
          "format": "int64"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys).",
          "$ref": "EncryptionConfiguration"
        },
        "numTimeTravelPhysicalBytes": {
          "description": "[Output-only] Number of physical bytes used by time travel storage (deleted or changed data). This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "type": "string",
          "format": "int64"
        },
        "model": {
          "description": "[Output-only, Beta] Present iff this table represents a ML model. Describes the training information for the model, and it is required to run 'PREDICT' queries.",
          "$ref": "ModelDefinition"
        },
        "streamingBuffer": {
          "description": "[Output-only] Contains information regarding this table's streaming buffer, if one is present. This field will be absent if the table is not being streamed to or if there is no data in the streaming buffer.",
          "$ref": "Streamingbuffer"
        },
        "numRows": {
          "description": "[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.",
          "format": "uint64",
          "type": "string"
        },
        "externalDataConfiguration": {
          "$ref": "ExternalDataConfiguration",
          "description": "[Optional] Describes the data format, location, and other properties of a table stored outside of BigQuery. By defining these properties, the data source can then be queried as if it were a standard BigQuery table."
        },
        "numLongTermPhysicalBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of physical bytes more than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "materializedView": {
          "description": "[Optional] Materialized view definition.",
          "$ref": "MaterializedViewDefinition"
        },
        "snapshotDefinition": {
          "description": "[Output-only] Snapshot definition.",
          "$ref": "SnapshotDefinition"
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "defaultRoundingMode": {
          "type": "string",
          "description": "[Output-only] The default rounding mode of the table."
        },
        "description": {
          "type": "string",
          "description": "[Optional] A user-friendly description of this table."
        },
        "numActivePhysicalBytes": {
          "description": "[Output-only] Number of physical bytes less than 90 days old. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "[Output-only] The type of the resource.",
          "type": "string",
          "default": "bigquery#table"
        },
        "numBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The size of this table in bytes, excluding any data in the streaming buffer."
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "[Output-only] The time when this table was last modified, in milliseconds since the epoch.",
          "format": "uint64"
        },
        "rangePartitioning": {
          "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "requirePartitionFilter": {
          "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified.",
          "default": "false",
          "type": "boolean"
        },
        "numTotalPhysicalBytes": {
          "type": "string",
          "description": "[Output-only] The physical size of this table in bytes. This also includes storage used for time travel. This data is not kept in real time, and might be delayed by a few seconds to a few minutes.",
          "format": "int64"
        },
        "friendlyName": {
          "description": "[Optional] A descriptive name for this table.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output-only] A URL that can be used to access this resource again.",
          "type": "string"
        },
        "numLongTermBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The number of bytes in the table that are considered \"long-term storage\"."
        },
        "defaultCollation": {
          "type": "string",
          "description": "[Output-only] The default collation of the table."
        },
        "id": {
          "type": "string",
          "description": "[Output-only] An opaque ID uniquely identifying the table."
        },
        "numTotalLogicalBytes": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Total number of logical bytes in the table or materialized view."
        },
        "biglakeConfiguration": {
          "$ref": "BigLakeConfiguration",
          "description": "[Optional] Specifies the configuration of a BigLake managed table."
        },
        "numPartitions": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] The number of partitions present in the table or materialized view. This data is not kept in real time, and might be delayed by a few seconds to a few minutes."
        },
        "view": {
          "$ref": "ViewDefinition",
          "description": "[Optional] The view definition."
        },
        "tableReference": {
          "$ref": "TableReference",
          "description": "[Required] Reference describing the ID of this table."
        },
        "schema": {
          "$ref": "TableSchema",
          "description": "[Optional] Describes the schema of this table."
        }
      },
      "id": "Table"
    },
    "TableFieldSchema": {
      "type": "object",
      "properties": {
        "collation": {
          "type": "string",
          "description": "Optional. Collation specification of the field. It only can be set on string type field."
        },
        "description": {
          "description": "[Optional] The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "[Optional] The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE."
        },
        "policyTags": {
          "type": "object",
          "properties": {
            "names": {
              "description": "A list of category resource names. For example, \"projects/1/location/eu/taxonomies/2/policyTags/3\". At most 1 policy tag is allowed.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "categories": {
          "description": "[Optional] The categories attached to this field, used for field-level access control.",
          "type": "object",
          "properties": {
            "names": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of category resource names. For example, \"projects/1/taxonomies/2/categories/3\". At most 5 categories are allowed."
            }
          }
        },
        "name": {
          "type": "string",
          "description": "[Required] The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 300 characters."
        },
        "defaultValueExpression": {
          "type": "string",
          "description": "Optional. A SQL expression to specify the default value for this field. It can only be set for top level fields (columns). You can use struct or array expression to specify default value for the entire struct or array. The valid SQL expressions are: - Literals for all data types, including STRUCT and ARRAY. - Following functions: - CURRENT_TIMESTAMP - CURRENT_TIME - CURRENT_DATE - CURRENT_DATETIME - GENERATE_UUID - RAND - SESSION_USER - ST_GEOGPOINT - Struct or array composed with the above allowed functions, for example, [CURRENT_DATE(), DATE '2020-01-01']"
        },
        "fields": {
          "description": "[Optional] Describes the nested schema fields if the type property is set to RECORD.",
          "items": {
            "$ref": "TableFieldSchema"
          },
          "type": "array"
        },
        "scale": {
          "description": "[Optional] See documentation for precision.",
          "type": "string",
          "format": "int64"
        },
        "precision": {
          "description": "[Optional] Precision (maximum number of total digits in base 10) and scale (maximum number of digits in the fractional part in base 10) constraints for values of this field for NUMERIC or BIGNUMERIC. It is invalid to set precision or scale if type ≠ \"NUMERIC\" and ≠ \"BIGNUMERIC\". If precision and scale are not specified, no value range constraint is imposed on this field insofar as values are permitted by the type. Values of this NUMERIC or BIGNUMERIC field must be in this range when: - Precision (P) and scale (S) are specified: [-10P-S + 10-S, 10P-S - 10-S] - Precision (P) is specified but not scale (and thus scale is interpreted to be equal to zero): [-10P + 1, 10P - 1]. Acceptable values for precision and scale if both are specified: - If type = \"NUMERIC\": 1 ≤ precision - scale ≤ 29 and 0 ≤ scale ≤ 9. - If type = \"BIGNUMERIC\": 1 ≤ precision - scale ≤ 38 and 0 ≤ scale ≤ 38. Acceptable values for precision if only precision is specified but not scale (and thus scale is interpreted to be equal to zero): - If type = \"NUMERIC\": 1 ≤ precision ≤ 29. - If type = \"BIGNUMERIC\": 1 ≤ precision ≤ 38. If scale is specified but not precision, then it is invalid.",
          "type": "string",
          "format": "int64"
        },
        "maxLength": {
          "format": "int64",
          "description": "[Optional] Maximum length of values of this field for STRINGS or BYTES. If max_length is not specified, no maximum length constraint is imposed on this field. If type = \"STRING\", then max_length represents the maximum UTF-8 length of strings in this field. If type = \"BYTES\", then max_length represents the maximum number of bytes in this field. It is invalid to set this field if type ≠ \"STRING\" and ≠ \"BYTES\".",
          "type": "string"
        },
        "roundingMode": {
          "description": "Optional. Rounding Mode specification of the field. It only can be set on NUMERIC or BIGNUMERIC type fields.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "[Required] The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), NUMERIC, BIGNUMERIC, BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, INTERVAL, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD)."
        }
      },
      "id": "TableFieldSchema"
    },
    "JobStatistics3": {
      "id": "JobStatistics3",
      "type": "object",
      "properties": {
        "inputFiles": {
          "type": "string",
          "description": "[Output-only] Number of source files in a load job.",
          "format": "int64"
        },
        "badRecords": {
          "format": "int64",
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data.",
          "type": "string"
        },
        "outputRows": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change."
        },
        "inputFileBytes": {
          "format": "int64",
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "type": "string"
        },
        "outputBytes": {
          "type": "string",
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.",
          "format": "int64"
        }
      }
    },
    "TableDataList": {
      "type": "object",
      "id": "TableDataList",
      "properties": {
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "pageToken": {
          "description": "A token used for paging results. Providing this token instead of the startIndex parameter can help you retrieve stable results when an underlying table is changing.",
          "type": "string"
        },
        "kind": {
          "default": "bigquery#tableDataList",
          "type": "string",
          "description": "The resource type of the response."
        },
        "totalRows": {
          "type": "string",
          "format": "int64",
          "description": "The total number of rows in the complete table."
        },
        "rows": {
          "type": "array",
          "description": "Rows of results.",
          "items": {
            "$ref": "TableRow"
          }
        }
      }
    },
    "BigtableColumn": {
      "type": "object",
      "properties": {
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
        },
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "type": "string",
          "format": "byte"
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels."
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        },
        "qualifierString": {
          "type": "string"
        }
      },
      "id": "BigtableColumn"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "ParquetOptions": {
      "type": "object",
      "id": "ParquetOptions",
      "properties": {
        "enableListInference": {
          "description": "[Optional] Indicates whether to use schema inference specifically for Parquet LIST logical type.",
          "type": "boolean"
        },
        "enumAsString": {
          "description": "[Optional] Indicates whether to infer Parquet ENUM logical type as STRING instead of BYTES by default.",
          "type": "boolean"
        }
      }
    },
    "IntArray": {
      "properties": {
        "elements": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Elements in the int array."
        }
      },
      "id": "IntArray",
      "description": "An array of int.",
      "type": "object"
    },
    "HparamTuningTrial": {
      "type": "object",
      "id": "HparamTuningTrial",
      "description": "Training info of a trial in [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models.",
      "properties": {
        "startTimeMs": {
          "description": "Starting time of the trial.",
          "type": "string",
          "format": "int64"
        },
        "evaluationMetrics": {
          "$ref": "EvaluationMetrics",
          "description": "Evaluation metrics of this trial calculated on the test data. Empty in Job API."
        },
        "trialId": {
          "description": "1-based index of the trial.",
          "format": "int64",
          "type": "string"
        },
        "trainingLoss": {
          "format": "double",
          "type": "number",
          "description": "Loss computed on the training data at the end of trial."
        },
        "evalLoss": {
          "format": "double",
          "description": "Loss computed on the eval data at the end of trial.",
          "type": "number"
        },
        "endTimeMs": {
          "type": "string",
          "format": "int64",
          "description": "Ending time of the trial."
        },
        "hparams": {
          "description": "The hyperprameters selected for this trial.",
          "$ref": "TrainingOptions"
        },
        "status": {
          "type": "string",
          "enum": [
            "TRIAL_STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "INFEASIBLE",
            "STOPPED_EARLY"
          ],
          "description": "The status of the trial.",
          "enumDescriptions": [
            "",
            "Scheduled but not started.",
            "Running state.",
            "The trial succeeded.",
            "The trial failed.",
            "The trial is infeasible due to the invalid params.",
            "Trial stopped early because it's not promising."
          ]
        },
        "errorMessage": {
          "description": "Error message for FAILED and INFEASIBLE trial.",
          "type": "string"
        },
        "hparamTuningEvaluationMetrics": {
          "description": "Hyperparameter tuning evaluation metrics of this trial calculated on the eval data. Unlike evaluation_metrics, only the fields corresponding to the hparam_tuning_objectives are set.",
          "$ref": "EvaluationMetrics"
        }
      }
    },
    "StandardSqlField": {
      "id": "StandardSqlField",
      "type": "object",
      "description": "A field or a column.",
      "properties": {
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        }
      }
    },
    "ClusterInfo": {
      "description": "Information about a single cluster for clustering model.",
      "type": "object",
      "id": "ClusterInfo",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "format": "int64",
          "type": "string"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "type": "string",
          "format": "int64"
        },
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "TableList": {
      "id": "TableList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of list.",
          "default": "bigquery#tableList",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "etag": {
          "type": "string",
          "description": "A hash of this page of results."
        },
        "tables": {
          "description": "Tables in the requested dataset.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "An opaque ID of the table",
                "type": "string"
              },
              "kind": {
                "default": "bigquery#table",
                "type": "string",
                "description": "The resource type."
              },
              "creationTime": {
                "format": "int64",
                "type": "string",
                "description": "The time when this table was created, in milliseconds since the epoch."
              },
              "friendlyName": {
                "description": "The user-friendly name for this table.",
                "type": "string"
              },
              "clustering": {
                "$ref": "Clustering",
                "description": "[Beta] Clustering specification for this table, if configured."
              },
              "type": {
                "description": "The type of table. Possible values are: TABLE, VIEW.",
                "type": "string"
              },
              "rangePartitioning": {
                "description": "The range partitioning specification for this table, if configured.",
                "$ref": "RangePartitioning"
              },
              "tableReference": {
                "$ref": "TableReference",
                "description": "A reference uniquely identifying the table."
              },
              "view": {
                "properties": {
                  "useLegacySql": {
                    "type": "boolean",
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL."
                  }
                },
                "description": "Additional details for a view.",
                "type": "object"
              },
              "expirationTime": {
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.",
                "type": "string",
                "format": "int64"
              },
              "labels": {
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "timePartitioning": {
                "$ref": "TimePartitioning",
                "description": "The time-based partitioning specification for this table, if configured."
              }
            }
          },
          "type": "array"
        },
        "totalItems": {
          "description": "The total number of tables in the dataset.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Row": {
      "properties": {
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "Entry"
          },
          "description": "Info describing predicted label distribution.",
          "type": "array"
        }
      },
      "id": "Row",
      "type": "object",
      "description": "A single row in the confusion matrix."
    },
    "ArimaCoefficients": {
      "id": "ArimaCoefficients",
      "description": "Arima coefficients.",
      "type": "object",
      "properties": {
        "autoRegressiveCoefficients": {
          "description": "Auto-regressive coefficients, an array of double.",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        },
        "interceptCoefficient": {
          "description": "Intercept coefficient, just a double not an array.",
          "type": "number",
          "format": "double"
        },
        "movingAverageCoefficients": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Moving-average coefficients, an array of double."
        }
      }
    },
    "ModelReference": {
      "type": "object",
      "id": "ModelReference",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of the dataset containing this model."
        },
        "projectId": {
          "description": "Required. The ID of the project containing this model.",
          "type": "string"
        },
        "modelId": {
          "description": "Required. The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        }
      }
    },
    "StandardSqlStructType": {
      "type": "object",
      "id": "StandardSqlStructType",
      "properties": {
        "fields": {
          "items": {
            "$ref": "StandardSqlField"
          },
          "type": "array"
        }
      }
    },
    "ProjectReference": {
      "id": "ProjectReference",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project."
        }
      },
      "type": "object"
    },
    "QueryParameterValue": {
      "properties": {
        "arrayValues": {
          "items": {
            "$ref": "QueryParameterValue"
          },
          "description": "[Optional] The array values, if this is an array type.",
          "type": "array"
        },
        "value": {
          "description": "[Optional] The value of this value, if a simple scalar type.",
          "type": "string"
        },
        "structValues": {
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "type": "object",
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          }
        }
      },
      "id": "QueryParameterValue",
      "type": "object"
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "description": "Confusion matrix for binary classification models.",
      "type": "object",
      "properties": {
        "falsePositives": {
          "type": "string",
          "format": "int64",
          "description": "Number of false samples predicted as true."
        },
        "positiveClassThreshold": {
          "format": "double",
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number"
        },
        "recall": {
          "description": "The fraction of actual positive labels that were given a positive prediction.",
          "type": "number",
          "format": "double"
        },
        "precision": {
          "type": "number",
          "format": "double",
          "description": "The fraction of actual positive predictions that had positive actual labels."
        },
        "f1Score": {
          "format": "double",
          "description": "The equally weighted average of recall and precision.",
          "type": "number"
        },
        "truePositives": {
          "description": "Number of true samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "falseNegatives": {
          "format": "int64",
          "description": "Number of false samples predicted as false.",
          "type": "string"
        },
        "trueNegatives": {
          "type": "string",
          "description": "Number of true samples predicted as false.",
          "format": "int64"
        },
        "accuracy": {
          "type": "number",
          "format": "double",
          "description": "The fraction of predictions given the correct label."
        }
      }
    },
    "RegressionMetrics": {
      "type": "object",
      "properties": {
        "rSquared": {
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE.",
          "format": "double",
          "type": "number"
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredError": {
          "format": "double",
          "description": "Mean squared error.",
          "type": "number"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "format": "double",
          "type": "number"
        },
        "meanSquaredLogError": {
          "type": "number",
          "description": "Mean squared log error.",
          "format": "double"
        }
      },
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "id": "RegressionMetrics"
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "type": "object",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The final state of the job."
        },
        "kind": {
          "type": "string",
          "description": "The resource type of the response.",
          "default": "bigquery#jobCancelResponse"
        }
      }
    },
    "DataSplitResult": {
      "type": "object",
      "description": "Data split result. This contains references to the training and evaluation data tables that were used to train the model.",
      "id": "DataSplitResult",
      "properties": {
        "testTable": {
          "description": "Table reference of the test data after split.",
          "$ref": "TableReference"
        },
        "evaluationTable": {
          "description": "Table reference of the evaluation data after split.",
          "$ref": "TableReference"
        },
        "trainingTable": {
          "$ref": "TableReference",
          "description": "Table reference of the training data after split."
        }
      }
    },
    "BinaryClassificationMetrics": {
      "properties": {
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        },
        "binaryConfusionMatrixList": {
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          },
          "description": "Binary confusion matrix at multiple thresholds."
        },
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        }
      },
      "description": "Evaluation metrics for binary classification/classifier models.",
      "type": "object",
      "id": "BinaryClassificationMetrics"
    },
    "Model": {
      "id": "Model",
      "type": "object",
      "properties": {
        "lastModifiedTime": {
          "format": "int64",
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "readOnly": true,
          "type": "string"
        },
        "bestTrialId": {
          "format": "int64",
          "type": "string",
          "deprecated": true,
          "description": "The best trial_id across all training runs."
        },
        "hparamSearchSpaces": {
          "readOnly": true,
          "$ref": "HparamSearchSpaces",
          "description": "Output only. All hyperparameter search spaces in this model."
        },
        "optimalTrialIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. For single-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, it only contains the best trial. For multi-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, it contains all Pareto optimal trials sorted by trial_id.",
          "type": "array",
          "readOnly": true
        },
        "labelColumns": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          },
          "readOnly": true,
          "description": "Output only. Label columns that were used to train this model. The output of the model will have a \"predicted_\" prefix to these columns."
        },
        "modelReference": {
          "$ref": "ModelReference",
          "description": "Required. Unique identifier for this model."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A hash of this resource."
        },
        "defaultTrialId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The default trial_id to use in TVFs when the trial_id is not passed in. For single-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, this is the best trial ID. For multi-objective [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models, this is the smallest trial ID among all Pareto optimal trials."
        },
        "location": {
          "readOnly": true,
          "description": "Output only. The geographic location where the model resides. This value is inherited from the dataset.",
          "type": "string"
        },
        "remoteModelInfo": {
          "readOnly": true,
          "description": "Output only. Remote model info",
          "$ref": "RemoteModelInfo"
        },
        "trainingRuns": {
          "items": {
            "$ref": "TrainingRun"
          },
          "description": "Information for all training runs in increasing order of start_time.",
          "type": "array"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. The time when this model was created, in millisecs since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "featureColumns": {
          "items": {
            "$ref": "StandardSqlField"
          },
          "description": "Output only. Input feature columns for the model inference. If the model is trained with TRANSFORM clause, these are the input of the TRANSFORM clause.",
          "readOnly": true,
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-friendly description of this model."
        },
        "hparamTrials": {
          "items": {
            "$ref": "HparamTuningTrial"
          },
          "description": "Output only. Trials of a [hyperparameter tuning](/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) model sorted by trial_id.",
          "type": "array",
          "readOnly": true
        },
        "transformColumns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TransformColumn"
          },
          "description": "Output only. This field will be populated if a TRANSFORM clause was used to train a model. TRANSFORM clause (if used) takes feature_columns as input and outputs transform_columns. transform_columns then are used to train the model."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this model. You can use these to organize and group your models. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expirationTime": {
          "description": "Optional. The time when this model expires, in milliseconds since the epoch. If not present, the model will persist indefinitely. Expired models will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created models.",
          "format": "int64",
          "type": "string"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for this model.",
          "type": "string"
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the encryption configuration of the model data while stored in BigQuery storage. This field can be used with PatchModel to update encryption key for an already encrypted model."
        },
        "modelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "Matrix factorization model.",
            "DNN classifier model.",
            "An imported TensorFlow model.",
            "DNN regressor model.",
[...]
