# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The cloud-sdk-php-team team is the default owner for anything not
# explicitly taken by someone else.
*                               @googleapis/cloud-sdk-php-team

/Bigtable       @googleapis/bigtable-team @googleapis/cloud-sdk-php-team
/Datastore/     @googleapis/cloud-sdk-php-team
/Firestore/     @googleapis/firestore-team @googleapis/cloud-sdk-php-team
/Storage/       @googleapis/gcs-team @googleapis/cloud-sdk-php-team
/BigQuery*/.    @googleapis/bigquery-team @googleapis/cloud-sdk-php-team
/PubSub/        @googleapis/pubsub-team @googleapis/cloud-sdk-php-team
