# Format: //devtools/kokoro/config/proto/build.proto

# Build logs will be here
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Path to Dockerfile relative to the SCM root
dockerfile_path: "google-cloud-php/.kokoro/docs/docker/Dockerfile"

container_artifact {
  destination: "gcr.io/cloud-devrel-kokoro-resources/google-cloud-php-docs:latest"
}

env_vars: {
    key: "STAGING_BUCKET"
    value: "docs-staging-v2"
}

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 73713
      keyname: "docuploader_service_account"
    }
  }
}

