.DS_Store
composer.phar
composer.lock
composer-local.*
docs/json/**/*
vendor/
.idea/
*.iml
.phpunit.result.cache

# DocFX
**/out/*
.phpdoc/

# do not delete
keys/
.testing
.split
__pycache__

# VS Code local workspace settings
.vscode
