language: php

sudo: false

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

before_script:
    - composer install

script:
    - vendor/bin/phpunit
    - vendor/bin/phpcs --standard=PSR2 src/

after_success:
    - travis_retry php vendor/bin/coveralls -v
    - ./scripts/deploy-docs.sh
