language: php

sudo: false

matrix:
    include:
        - php: 5.5
        - php: 5.6
        - php: 7.0
        - php: hhvm
          sudo: required
          dist: trusty
          group: edge
    fast_finish: true

before_script:
    - composer install

script:
    - vendor/bin/phpunit
    - vendor/bin/phpcs --standard=PSR2 src/

after_success:
    - bash <(curl -s https://codecov.io/bash)
    - ./scripts/deploy-docs.sh
