parameters:
    level: 0
    excludePaths:
        # Ignore classes not compatible with Monolog2
        - Core/src/Logger/*.php
        # Ignore deprecated classes
        - Core/src/Lock/SymfonyLockAdapter.php
        - Core/src/PhpArray.php
        # Ignore Monolog3 for now, as these tests run using Monolog2
        - Logging/src/LogMessageProcessor/MonologV3MessageProcessor.php
        - Logging/src/LogMessageProcessor/MonologV3MessageProcessor.php
    ignoreErrors:
        # Problems with legacy namespaces (I'm not sure why these are throwing errors)
        - message: '#^Class Google\\[A-Za-z1-9\\]+_[A-Za-z1-9_]+ not found\.$#'
        # Protobuf constant classes sometimes contain multiple values for one array key
        - identifier: array.duplicateKey
        # Ignore this error because I don't consider it to be level 0
        - identifier: new.static
