<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./Core/unit-bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">*/src</directory>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">*/src/V[!a-zA-Z]*</directory>
      <directory suffix=".php">*/src/*/V[!a-zA-Z]*</directory>
      <directory suffix=".php">*/src/*/*/V[!a-zA-Z]*</directory>
      <directory suffix=".php">Core/src/Testing</directory>
      <directory suffix=".php">dev</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>*/tests/Unit</directory>
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="2048M"/>
  </php>
  <listeners>
    <listener class="GcTestListener" file="Core/src/Testing/GcTestListener.php"/>
  </listeners>
</phpunit>
