<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/unit/bootstrap.php" colors="true">
  <testsuites>
    <testsuite>
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix=".php">src/*/V[!a-zA-Z]*</directory>
        <directory suffix=".php">src/*/*/V[!a-zA-Z]*</directory>
        <directory suffix=".php">src/*/*/*/V[!a-zA-Z]*</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="build/clover.xml"/>
  </logging>
</phpunit>
