<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./Core/unit-bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">*/src</directory>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">*/src/V[!a-zA-Z]*</directory>
      <directory suffix=".php">*/src/*/V[!a-zA-Z]*</directory>
      <directory suffix=".php">*/src/*/*/V[!a-zA-Z]*</directory>
      <directory suffix=".php">Core/src/Testing</directory>
      <directory suffix=".php">dev</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Unit Test Suite">
      <directory>*/tests/Unit</directory>
      <exclude>dev/tests/Unit/Command/AddComponentCommandTest.php</exclude>
      <exclude>dev/tests/Unit/Command/DocFxCommandTest.php</exclude>
      <exclude>dev/tests/Unit/DocFx/PageTest.php</exclude>
      <exclude>dev/tests/Unit/DocFx/NodeTest.php</exclude>
      <exclude>dev/tests/Unit/SplitTest.php</exclude>
      <exclude>dev/tests/Unit/GitHubTest.php</exclude>
      <exclude>dev/tests/Unit/ReleaseNotesTest.php</exclude>
      <exclude>dev/tests/Unit/RunShellTest.php</exclude>
      <exclude>dev/tests/Unit/JsonFileTest.php</exclude>
      <exclude>dev/tests/Unit/NewComponentTest.php</exclude>
      <exclude>dev/tests/Unit/SplitInstallTest.php</exclude>
      <exclude>dev/tests/Unit/ComponentTest.php</exclude>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="2048M"/>
  </php>
  <listeners>
    <listener class="Google\Cloud\Core\Testing\GcTestListener" file="Core/src/Testing/GcTestListener.php"/>
  </listeners>
</phpunit>
