<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./Core/system-bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="System Test Suite">
      <directory>*/tests/System</directory>
      <!-- Exclude Storage system tests for now because they're failing -->
      <!-- @TODO: fix storage system tests -->
      <exclude>Storage/tests/System</exclude>
      <!-- Exclude tests which have emulator tests -->
      <exclude>Datastore/tests/System</exclude>
      <exclude>Firestore/tests/System</exclude>
      <exclude>Logging/tests/System</exclude>
      <exclude>Spanner/tests/System</exclude>
      <!-- Exclude packages which are deprecated -->
      <exclude>Debugger/tests/System</exclude>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="512M"/>
  </php>
</phpunit>
