<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/perf/bootstrap.php" colors="true">
  <testsuites>
    <testsuite>
      <directory>tests/perf</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix=".php">src/*/V[!a-zA-Z]*</directory>
      </exclude>
    </whitelist>
  </filter>
  <php>
    <ini name="memory_limit" value="2048M"/>
  </php>
</phpunit>
