# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Path to Dockerfile, PREFIXED with the SCM name from the Job Config
dockerfile_path: "build-dir/.kokoro/docs/docker/Dockerfile"

build_args {
  key: "PATH_PREFIX"
  value: "git/build-dir/.kokoro/docs/docker/"
}

container_artifact {
  destination: "gcr.io/cloud-devrel-kokoro-resources/google-cloud-php-docs:latest"
}
