<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/V[!a-zA-Z]*</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Google Shopping Merchant Products Unit Test Suite">
      <directory>tests/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
