# John Pedrie
/dev/ @jdpedrie
/src/Datastore/ @jdpedrie
/src/Firestore/ @jdpedrie
/src/PubSub/ @jdpedrie
/src/Spanner/ @jdpedrie
/src/Vision/ @jdpedrie

# David Supplee
/src/BigQuery/ @dwsupplee
/src/Language/ @dwsupplee
/src/Logging/ @dwsupplee
/src/Speech/ @dwsupplee
/src/Storage/ @dwsupplee
/src/Translate/ @dwsupplee
