# John Pedrie
/dev/ @jdpedrie
/Datastore/ @jdpedrie
/Firestore/ @jdpedrie
/PubSub/ @jdpedrie
/Spanner/ @jdpedrie
/Vision/ @jdpedrie

# David Supplee
/BigQuery/ @dwsupplee
/Language/ @dwsupplee
/Logging/ @dwsupplee
/Speech/ @dwsupplee
/Storage/ @dwsupplee
/Translate/ @dwsupplee

# PHP Silver Languages
/Debugger/ @chingor13 @tmatsuo
/Trace/ @chingor13 @tmatsuo
