<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/google/cloud-core/system-bootstrap.php" colors="true">
  <testsuites>
    <testsuite>
      <directory>tests/System</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix=".php">src/V[!a-zA-Z]*</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
