name: Test Suite
on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
        php: [ "7.4", "8.0", "8.1", "8.2" ]
    name: PHP ${{ matrix.php }} Unit Test (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    continue-on-error: true
    steps:
    - uses: actions/checkout@v3
    - name: Setup PHP
      uses: shivammathur/setup-php@verbose
      with:
        php-version: ${{ matrix.php }}
        extensions: grpc-1.52.1
    - name: Install Dependencies
      uses: nick-invision/retry@v2
      with:
        timeout_minutes: 10
        max_attempts: 3
        command: composer --no-interaction --no-ansi --no-progress update
    - if: ${{ matrix.platform == 'windows-latest' }}
      name: Run Unit Test Suite (Windows)
      run: |
        vendor/bin/phpunit -c phpunit.xml.dist
        if ( "$?" -ne "0" )
        {
          echo "*** RETRYING FLAKEY PHPUNIT ON WINDOWS ***"
          vendor/bin/phpunit -c phpunit.xml.dist
        }
    - if: ${{ matrix.platform != 'windows-latest' }}
      name: Run Unit Test Suite
      run: |
        vendor/bin/phpunit -c phpunit.xml.dist
    - if: ${{ matrix.platform != 'windows-latest' }}
      name: Run Snippet Test Suite
      run: |
        vendor/bin/phpunit -c phpunit-snippets.xml.dist --verbose

  test_package:
    name: Package Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup PHP
      uses: shivammathur/setup-php@verbose
      with:
        php-version: '8.0'
        extensions: grpc
    - name: Run Package Test Suites
      run: bash .github/run-package-tests.sh

  test_dev_commands:
    name: Dev Commands Unit Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup PHP
      uses: shivammathur/setup-php@verbose
      with:
        php-version: "8.0"
    - name: "Install dependencies"
      run: composer  --no-interaction --no-ansi --no-progress update -d dev
    - name: Run Dev Unit Test Suite
      run: dev/vendor/bin/phpunit -c dev/phpunit.xml.dist
